@model IEnumerable<Auth_Cls.Models.Disese>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center alert alert-danger">Disese Type</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiseseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiseseId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.DiseseId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.DiseseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
